@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:roboto ,sans-serif;
    background-color: fff;
}

h1{
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
}

.loader{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.loader img{
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
}

.image-container{
    margin: 10px 30%;
}

.image-container img{
    width: 100%;
    margin-top: 6px;
}

/* Media Query */

@media screen and (max-width:600px) {
    h1{
        font-size: 20px;
    }    
}